@media (min-width:321px) and (max-width:500px){
   .ss{
      
       margin-top: 145px;
   }
}
@media (min-width: 501px) and (max-width: 750px){
   .ss{
      margin-top: 150px;
   }
   section>p{
      width: 50%;
   }
   footer{
      height: 300px;
   }
   main>div{
      margin-top: 195px;
      height: 35vh;
   }

}

@media (min-width:751px) and (max-width:900px){
   .ss{
      margin-top: 145px;
      width: 190px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
   }
   .ee{
      font-size: 2.0em;
   }
   main>div{
      margin-top: 155px;
      height: 35vh;
      width: 55%;
      font-size: 1.4em;
   }
   section>p{
      width: 50%;
   }
   .sobre>div{
      height: 52vh;
      width: 60vh;
      
   }
   .one,.two,.three{
   
      h4{
            font-size: 1.2em;
          margin-top: 85px;
      }
  }
}

@media (min-width:901px){

   main>div{
      margin-top: 163px;
      height: 45vh;
      width: 55%;
      font-size: 1.9em;
   }

   section{
      display: flex;
    
   }
   .Barra{
      width:50%;
      
   }
   .ee{
      margin: auto;
      font-size: 2.4em;
      width:70%;
      
   }
   section>p{
      width: 30%;
      margin-left: 5%;
      margin-top: 15%;
      margin-bottom: 10%;
   }

   .ss{
      margin-top: 175px;
      width: 190px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      margin-right: 13px;
   }
  

   .sobre{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 450px;
      width: 70%;
   }

   footer{
      div{
         margin-left: 50px;
      }
      height: 240px;
      display: flex;
      gap: 20%;
      font-size: 1.5em;
      
      p{
        
         font-size: 15.5px;
      }
   }
   .direito{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
    
   }
   .direito:hover{
      background-color: white;
      color: tomato;
     }

   .qualquer:hover{
      background-color: white;
      color: rgb(5, 32, 41);
      box-shadow: 0px -0.2px 5px rgb(5, 32, 41);
   }

   .one:hover{
      box-shadow: 2px 2px 9px rgba(255, 99, 71, 0.959);
   }
   .two:hover{
      box-shadow: 2px 2px 9px rgba(255, 99, 71, 0.959);
   }
   .three:hover{
      box-shadow: 2px 2px 9px rgba(255, 99, 71, 0.959);
   }
   .InfoBasica{
      margin-left: 29px;
   }
   nav{
      padding: 25px;
   }
   
}




